/* COMMON */
body{
    font-family: "Noto Sans KR", "malgun gothic", AppleGothic, dotum, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.15;
}
.inner{
    width: 1050px;
    margin: 0 auto; /* 가운데 정렬 사용조건 두가지 1. auto를 위해 width값 정의돼야 함. 2. display속성이 block이어야 한다.*/
    position: relative;
}
a{
    text-decoration: none;
    color: #333;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* HEADER */
header{
    top: 0;
    margin-top: 10px;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
}
header > .inner{
    height: 156px;
}
header .header-top{
    height: 35px;
    width: 100%;
    position: relative;
}
header .header-top ul.user-bar{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header-top ul.user-bar li{
    cursor: pointer;
    list-style: none;
}
header .header-top ul.user-bar li:first-child > a{
    color: rgb(95, 0, 128);
}
header .header-top ul.user-bar li::before{
    content: "";
    display: block;
    width: 1px;
    height: 13px;
    background-color: rgb(217, 217, 217);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .header-top ul.user-bar li:first-child::before{
    display: none;
}
header .header-top ul.user-bar li a{
    padding: 0 12px;
    font-size: 12px;
}
header .header-middle{
    height: 63px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}
header .header-middle .logo{
    position: relative;
}
header .header-middle .logo img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
header .header-middle .market-beauty{
    position: absolute;
    left: 82px;
    height: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .header-middle .market-beauty > button{
    font-family: "Noto Sans KR", "malgun gothic", AppleGothic, dotum, sans-serif;
}
header .header-middle .market-beauty .market-mode{
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(95, 0, 128);
    cursor: pointer;
    margin-left: 20px;
}
header .header-middle .market-beauty .beauty-mode{
    flex-shrink: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(181, 181, 181);
    cursor: pointer;
    position: relative;
}
/* header .header-middle .market-beauty .beauty-mode::before{   구분선이 padding값에 따라 움직이지 않고 글자에 붙어있음.
    content: "";
    display: block;
    width: 1px;
    height: 13px;
    background-color: rgb(217, 217, 217);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
} */
header .header-middle .market-beauty .beauty-mode:hover{
    font-weight: 500;
    color: rgb(95, 0, 128);
}
header .header-middle .search-bar{
    position: absolute;
    left: 325px;
}
header .header-middle .search-bar > input{
    width: 370px;
    height: 40px;
    border : 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
    padding: 0 13px;
}
header .header-middle .search-bar > input:focus{
    outline-style: none;
}
header .header-middle .search-bar > input::placeholder{
    font-family: "Noto Sans KR", "malgun gothic", AppleGothic, dotum, sans-serif;
    font-size: 16px;
    letter-spacing: -0.33px;
    color: rgb(153, 153, 153)
}
header .header-middle .search-bar > img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .header-middle .user-tool{
    position: absolute;
    right: 0;
}
header .header-middle .user-tool img:first-child{
    margin-right: 20px;
}
header .header-middle .user-tool img:last-child{
    margin-left: 20px;
}
header .header-bottom{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between; /*가로 정렬*/
    align-items: center; /*세로 정렬*/
}
header .header-bottom .category{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
}
header .header-bottom .category > img{
    margin-right: 14px;
}
header .header-bottom .nav-menu{
    width: 500px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
}
header .header-bottom .nav-menu .menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
header .header-bottom .nav-menu .menu li{
   
}
header .header-bottom .nav-menu .menu li a:hover{
    color: rgb(95, 0, 128);
    border-bottom: solid 1px rgb(95, 0, 128);
}
header .header-bottom .delivery-information{
    border: 1px solid rgb(238, 238, 238);
    border-radius: 18px;
    padding: 6px 12px;
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
}
header .header-bottom .delivery-information a{
    font-weight: 500;
    color: rgb(102, 102, 102);
}
header .header-bottom .delivery-information a span{
    color: rgb(95, 0, 128);
}

/* VISUAL */
.visual{
    background-image: url("https://product-image.kurly.com/cdn-cgi/image/format=auto/banner/main/pc/img/4f52800e-df9a-4919-ba85-8e9742e1aea1.jpg");
    background-position: center;
}
.visual > .inner{
    height: 370px;
    margin-bottom: 40px;
}

/* GOODS */
.goods{

}
.goods > .inner{

}
.goods .goods-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px ;
    margin-bottom: 27px;
}
.goods .goods-top span{
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
    padding: 8px 0;
}
.goods .goods-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.goods .goods-list .goods-card{
    margin-right: 18px;
}
.goods .goods-list .goods-card .img-container{
    height: 320px;
    position: relative;
}
.goods .goods-list .goods-card .img-container img{
    height: 100%;
}
.goods .goods-list .goods-card .img-container button{
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
}
.goods .goods-list .goods-card .goods-info{
    padding: 14px 10px 0 0;
}
.goods .goods-list .goods-card .goods-info .goods-name{
    font-size: 16px;
    line-height: 1.45;
    font-weight: 400;
    margin-bottom: 8px;
}
.goods .goods-list .goods-card .goods-info .goods-price{
    display: flex; /* display: flex 후 justify-content:space-between;, align-items: center; 자주 나온다. 외워두자. */
    justify-content: space-between;
    align-items: center;
}
.goods .goods-list .goods-card .goods-info .goods-price span{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

/* AD */
.ad{

}
.ad > .inner{
    padding: 40px 0;
}
.ad a{
   
}
.ad img{
    height: 140px;
    width: 1050px;
}

/* SPECIAL DEALS */
.special_deals{

}
.special_deals > .inner{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
.special_deals .sd-left{

}
.special_deals .sd-left h2{
    font-size: 28px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.26px;
    margin-bottom: 10px;
}
.special_deals .sd-left h3{
    font-size: 16px;
    color: rgb(153, 153, 153);
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: normal;
    margin-bottom: 24px;
}
.special_deals .sd-left .left-time{
    
}
.special_deals .sd-left .left-time span{
    width: 136px;
    font-size: 32px;
    font-weight: 800;
    color: rgb(51, 51, 51);
}
.special_deals .sd-left p{
    font-size: 14px;
    color: rgb(204, 204, 204);
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: -0.4px;
    margin-top: 32px;
}
.special_deals .sd-right{
    width: 694px;
}
.special_deals .sd-right .img-container{
    height: 347px;
    position: relative;
}
.special_deals .sd-right .img-container img{
    width: 100%;
    height: 100%;
}
.special_deals .sd-right .img-container button{
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
}
.special_deals .sd-right .goods-info{
    padding-top: 14px;
}
.special_deals .sd-right .goods-info .goods-description{
    font-size: 14px;
    font-weight: 400;
    color: rgb(153, 153, 153);
    margin-bottom: 8px;
    line-height: 1.38;
    word-break: break-word; /* 줄바꿈 시 문자단위로 줄바꿈 되도록 */
}
.special_deals .sd-right .goods-info .goods-name{
    font-size: 16px;
    line-height: 1.45;
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin-bottom: 6px;
}
.special_deals .sd-right .goods-info .goods-price{
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
}

/* REVIEW */
.review {
    
}
.review > .inner{
    padding: 40px 0;
}
.review .review-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.review .review-top span{
    padding: 8px 0px;
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}
.review .review-top p{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-top: 2px;
    margin-bottom: 30px;
}
.review .review-list{
    display: flex;
}
.review .review-list .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    margin-right: 3px;
}
.review .review-list .img-container:last-child{
    margin-right: 0;
}
.review .review-list .img-container img{
    width: 100%;
    height: 100%;
}
.review .review-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    line-height: 1.9;
    font-size: 16px;
    letter-spacing: -0.05em;
}
.review .review-bottom p{
    color: rgb(153, 153, 153);
    font-weight: 400;
    line-height: 1.9;
    font-size: 16px;
    letter-spacing: -0.05em;
    margin: 0;
}
.review .review-bottom a{
    color: rgb(51, 51, 51);
    font-weight: 500;
    line-height: 1.9;
    font-size: 16px;
    letter-spacing: -0.05em;
    margin: 0;
}

/* FOOTER */
footer{
    border-top: 1px solid rgb(247, 247, 247);
    margin-top: 40px;
}
footer > .inner{
    
}
footer .footer-top{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
footer .footer-top .footer-left{

}
footer .footer-top .footer-left button{
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
}
footer .footer-top .footer-left h2{
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin: 0;
    padding-bottom: 17px;
}
footer .footer-top .footer-left .call{
    display: block;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
}
footer .footer-top .footer-left .call .number{
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    margin-right: 8px;
}
footer .footer-top .footer-left .contact{

}
footer .footer-top .footer-left .contact p{
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
}
footer .footer-top .footer-left .contact .kakao{
    display: flex;
    flex-direction: row;
}
footer .footer-top .footer-left .contact .kakao p{
    margin: 0;
}
footer .footer-top .footer-left .contact .oneOnOne{
    display: flex;
    flex-direction: row;
}
footer .footer-top .footer-left .contact .oneOnOne p{
    margin: 0;
}
footer .footer-top .footer-left .contact .mass{
    display: flex;
    flex-direction: row;
}
footer .footer-top .footer-left .contact .mass p{
    margin: 0;
}
footer .footer-top .footer-left .contact .email{
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}
footer .footer-top .footer-left .contact .email a{
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}
footer .footer-top .footer-right{

}
footer .footer-top .footer-right .footer-list{
    display: flex;
    padding-bottom: 29px;
}
footer .footer-top .footer-right .footer-list li{
    margin-right: 14px;
}
footer .footer-top .footer-right .footer-about{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin-bottom: 40px;
}
footer .footer-top .footer-right .footer-about a{
    margin-left: 3px;
    color: rgb(95, 0, 128);
}
footer .footer-top .footer-right .sns{

}
footer .footer-top .footer-right .sns .sns-icons{
    display: flex;
}
footer .footer-top .footer-right .sns .sns-icons a{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
footer .footer-top .footer-right .sns .sns-icons a img{
    width: 100%;
    height: 100%;
}
footer .footer-middle{
    display: flex;
    justify-content: space-between;
    padding: 26px 0px 33px;
    border-top: 1px solid rgb(238, 238, 238);
}
footer .footer-middle .certification{
    display: flex;
    height: 43.5px;
    text-align: left;
}
footer .footer-middle .certification img{
    width: 34px;
    margin-right: 10px;
}
footer .footer-middle .certification:nth-child(3) img{
    width: 102px;
}
footer .footer-middle .certification p{
    font-size: 10px;
    line-height: 14.5px;
    color: rgb(153, 153, 153);
}
footer .footer-bottom{
    padding: 20px 0px 30px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: rgb(153, 153, 153);
    background-color: rgb(247, 247, 247);
}
footer .footer-bottom .reserved{
    padding-top: 7px;
}